
.container {
    border: 1px solid none;
    background-color: rgb(246,246,246);
}

.info {
    text-align: left;
    margin-left: 10px;
}

.icon {
    /* style={{display:'flex', gap:'20px'}} */
    display: flex;
    gap: 20px;
}

.box_1 {
   border: 1px solid green;
   background-color: white;
   display: flex;
   justify-content: space-around;
   padding: 2%;
   margin-left: -10px;
}

.modal {
    width: 50%;
    border: 1px solid red;
}